body{
  display: flex;
   justify-content: center;
   background-color: pink;
}

#container{
  Position: relative;
  Top: 100px;
  Width: 500px;
}

#content-box{
  background: #4a6677;
  Padding: 15px;
  Margin-bottom: 15px;
}

ul{
  List-style-type: none;

  Padding: 0px;

  Display: flex;

  Justify-content: left;
}
